<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>model</title>
</head>
<body>
<h3>[1] model数据写入操作</h3>
<a href="/addBook/">示例</a>

<h3>[2] model数据查询操作</h3>
<a href="/queryBook/">示例</a>

<h3>[3] model根据条件数据查询操作</h3>
<a href="/queryBookByIdGet/?id=1">示例</a>

<h3>[4] model根据条件删除数据操作</h3>
<a href="/deleteBookById/6/">示例</a>

<h3>[5] model根据条件修改数据操作</h3>
<a href="/updateBookById/5/计算机图形学/">示例</a>
</body>

<h3>[6] get 和 filter 的区别</h3>
<a href="/gettest/">get示例</a>
<a href="/filtertest/">filter示例</a>
<h3>[7] model 实现sql语句处理数据（数据查询）</h3>
<a href="/sqltest/">示例</a>
</html>